<form>
<div class="row m-4">
  <div class="col-auto">
      <label for="" class="form-label">Name</label>
  </div>
  <div class="col-6">
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
  <div class="col-auto">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
</div>
<div class="row m-4">
  <div class="col-auto">
      <label for="" class="form-label">Name</label>
  </div>
  <div class="col-6">
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
  <div class="col-auto">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
</div>
<div class="row m-4">
  <div class="col-auto">
      <label for="" class="form-label">Name</label>
  </div>
  <div class="col-6">
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
  <div class="col-auto">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
</div>
<div class="row m-4">
  <div class="col-auto">
      <label for="" class="form-label">Name</label>
  </div>
  <div class="col-6">
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
  </div>
  <div class="col-auto">
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
</div>

</form>

